<a href="https://colab.research.google.com/github/prathipa05092005/Digitalprotofile/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Load dataset
df= pd.read_csv("/content/student_performance.csv")

# view first few rows
print(df.head())

# 1. Check missing values
print("Missing values:\n", df.isnull().sum())

# 2. Fill missing values in 'Math_Score' if any
df["Math_Score"].fillna(df["Math_Score"].mean(), inplace=True)

# 3. Remove duplicates
df.drop_duplicates(inplace=True)

# 4. Drop rows with any remaining missing values
df.dropna(inplace=True)

# 5. Print cleaned dataset shape
print("Final dataset shape:",df.shape)

   Student_ID       Name  Math_Score  Science_Score  English_Score
0           1  Student_1          58             51             57
1           2  Student_2          89             51             88
2           3  Student_3          81             55             60
3           4  Student_4          96             78             79
4           5  Student_5          40             73             75
Missing values:
 Student_ID       0
Name             0
Math_Score       0
Science_Score    0
English_Score    0
dtype: int64
Final dataset shape: (500, 5)

/tmp/ipython-input-3-1787420733.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Math_Score"].fillna(df["Math_Score"].mean(), inplace=True)